<div id="new-item-modal" class="inmodal">
    <form role="form" name="newItemForm" ng-submit="vm.insertOrUpdate(newItemForm);" ng-validate="vm.newItemValidationOptions">
        <div class="modal-header">
            <!--<i class="fa fa-medkit modal-icon"></i>-->
            <h4 class="modal-title">Novo Item</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-7 b-r">
                    <div class="form-group">
                        <label>Título:</label>
                        <input type="text" name="title" ng-model="vm.selectedItem.title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Subtítulo:</label>
                        <input type="text" name="subTitle" ng-model="vm.selectedItem.subTitle" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Preço:</label>
                        <input type="text" name="price" ui-money-mask ng-model="vm.selectedItem.price" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Forma de pagamento:</label>
                        <select class="form-control m-b" ng-model="vm.selectedItem.priceTimes" name="account">
                            <option value="1">1 X</option>
                            <option value="2">2 X</option>
                            <option value="3">3 X</option>
                            <option value="4">4 X</option>
                            <option value="5">5 X</option>
                            <option value="6">6 X</option>
                            <option value="7">7 X</option>
                            <option value="8">8 X</option>
                            <option value="9">9 X</option>
                            <option value="10">10 X</option>
                            <option value="11">11 X</option>
                            <option value="11">12 X</option>
                        </select>
                        <!--<input type="text" name="priceTimes" ng-model="vm.selectedItem.priceTimes" class="form-control">-->
                    </div>
                    <div class="form-group">
                        <label>Descrição:</label>
                        <div trumbowyg-ng ng-model="vm.selectedItem.description" editor-config="vm.editorConfig">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Tipo da capa:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label><input icheck type="radio" value="image" name="radioTest" ng-model="vm.selectedItem.coverType"> Imagem </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label><input icheck type="radio" value="video" name="radioTest" ng-model="vm.selectedItem.coverType"> Vídeo </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="button" ng-click="vm.openImagesModal();">Selecione as imagens</button>

                    <img ng-repeat="img in vm.selectedItem.images" ngf-src="img.src" style="width: 34px; height: 34px; float: none;  position: relative; top: 7px;">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="vm.closeNewItemModal()">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>